{{!
/*******************************************************************************
 *
 * operator-dashboard
 *
 * Copyright (c) 2019 Jon Arild Nygård
 * All rights reserved.
 *
 * For license information, see bundled LICENSE file.
 *
 ******************************************************************************/
}}

<html>
    <body>
        <div><h1>{{title}}</h1></div>
    </body>
</html>